Repository aces/Loris-MRI, pull requests merged in 2018-07, with the labels that each got.

#319 MRI exclusion scans such as localizers read from the Config module.
  uploadNeuroDB/NeuroDB/DBI.pm
  uploadNeuroDB/NeuroDB/MRIProcessingUtility.pm
  uploadNeuroDB/tarchiveLoader
Labels: Add to release notes, Caveat for Existing Projects, New Feature, PassedManualTest, Priority high - my LORIS friend got merged!, Update PerlDoc or Documentation

#320 Remove links to scripts for 20.0
  Mincinfo_wrapper
  concat_mri.pl
  environment
  minc2jiv.pl
  mincpik
Labels: Add to release notes, Caveat for Existing Projects, Cleanup, PassedManualTest, [branch] major

#321 Modified error message when no MINC was created so that it displays which series descriptions were excluded
  docs/AppendixA-Troubleshooting_guideline.md
  uploadNeuroDB/NeuroDB/ExitCodes.pm
  uploadNeuroDB/tarchiveLoader
Labels: BugFix, Cleanup, PassedManualTest, [branch] major

#323 Config table (section 2) documentation updates based on latest 20.0 release status
  docs/02-Install.md
Labels: Cleanup, Documentation

#324 Fixed missing \n at the end of a print statement
  uploadNeuroDB/tarchiveLoader
Labels: Cleanup, PassedManualTest, [branch] major

#326 Fixing logic for excluded series from the dcm2mnc conversion
  docs/01-Introduction.md
  docs/02-Install.md
  docs/AppendixA-Troubleshooting_guideline.md
  uploadNeuroDB/NeuroDB/MRIProcessingUtility.pm
  uploadNeuroDB/tarchiveLoader
Labels: BugFix, PassedManualTest, [branch] major

#329 Fixed a statement in tarchiveLoader that would cause a PERL warning in specific circumstances.
  uploadNeuroDB/tarchiveLoader
Labels: Cleanup, PassedManualTest
