Repository aces/Loris-MRI, pull requests merged in 2018-08, with the labels that each got.

#331 Added documentation for out of memory errors.
  docs/AppendixA-Troubleshooting_guideline.md
Labels: Documentation

#327 Fix logging of MRI violations log
  docs/scripts_md/MRIProcessingUtility.md
  uploadNeuroDB/NeuroDB/MRIProcessingUtility.pm
  uploadNeuroDB/minc_insertion.pl
Labels: BugFix, PassedCodeReview, PassedManualTest, [branch] major

#292 Removing PendingStaging field from the files table
  docs/scripts_md/MRI.md
  uploadNeuroDB/NeuroDB/MRI.pm
  uploadNeuroDB/NeuroDB/MRIProcessingUtility.pm
  uploadNeuroDB/minc_insertion.pl
  uploadNeuroDB/register_processed_data.pl
  uploadNeuroDB/tarchiveLoader
  uploadNeuroDB/tarchive_validation.pl
Labels: Cleanup, [branch] major
