Repository aces/Loris-MRI, pull requests merged in 2018-04, with the labels that each got.

#243 [Documentation] database_files_update.pl perldocification
  docs/scripts_md/database_files_update.md
  tools/database_files_update.pl
Labels: Cleanup, PassedCodeReview, Perldoc

#244 [Documentation] MakeArchiveLocationRelative.pl perldocification
  docs/scripts_md/MakeArchiveLocationRelative.md
  tools/MakeArchiveLocationRelative.pl
Labels: Cleanup, PassedCodeReview, Perldoc

#285 Improve minc_insertion.pl command line validation
  uploadNeuroDB/NeuroDB/ExitCodes.pm
  uploadNeuroDB/minc_insertion.pl
Labels: BugFix, Cleanup, PassedCodeReview, PassedManualTest, [branch] minor

#296 [Documentation] Database graph updates
  docs/02-Install.md
  docs/AppendixA-Troubleshooting_guideline.md
  docs/AppendixB-Glossary.md
  docs/images/Processed_data_tables.png
  docs/images/QC_tables.png
  docs/images/files_tables.png
  docs/images/mri_upload_tables.png
  docs/images/tarchive_tables.png
  docs/images/violated_tables.png
Labels: Cleanup, Documentation

#290 Implemented the exit code in the tools scripts
  tools/BackPopulateSNRAndAcquisitionOrder.pl
  tools/ProdToConfig.pl
  tools/example_scripts/deletemincsqlwrapper.pl
Labels: Cleanup, PassedCodeReview, [branch] minor

#289 Adding exit codes to uploadNeuroDB/bin scripts
  uploadNeuroDB/NeuroDB/ExitCodes.pm
  uploadNeuroDB/bin/concat_mri.pl
  uploadNeuroDB/bin/minc2jiv.pl
Labels: Cleanup, [branch] minor

#295 Refactored methods scan_type_text_to_id and scan_type_id_to_text of MRI.pm
  tools/BackPopulateSNRAndAcquisitionOrder.pl
  uploadNeuroDB/NeuroDB/MRI.pm
  uploadNeuroDB/NeuroDB/MRIProcessingUtility.pm
  uploadNeuroDB/NeuroDB/UnexpectedValueException.pm
  uploadNeuroDB/NeuroDB/objectBroker/MriScanTypeOB.pm
  uploadNeuroDB/mass_pic.pl
  uploadNeuroDB/minc_insertion.pl
  uploadNeuroDB/register_processed_data.pl
  uploadNeuroDB/tarchiveLoader
  uploadNeuroDB/tarchive_validation.pl
Labels: PassedManualTest, Refactoring, Update PerlDoc, [branch] major

#297 ExitCodes refactoring so that their number fit in the range 0-255
  DTIPrep/DTIPrepRegister.pl
  DTIPrep/DTIPrep_pipeline.pl
  batch_uploads_imageuploader
  batch_uploads_tarchive
  dicom-archive/DICOM/DCMSUM.pm
  dicom-archive/dicomTar.pl
  dicom-archive/updateMRI_Upload.pl
  docs/scripts_md/ExitCodes.md
  uploadNeuroDB/NeuroDB/ExitCodes.pm
  uploadNeuroDB/NeuroDB/MRIProcessingUtility.pm
  uploadNeuroDB/bin/minc2jiv.pl
  uploadNeuroDB/imaging_upload_file.pl
  uploadNeuroDB/minc_deletion.pl
  uploadNeuroDB/minc_insertion.pl
  uploadNeuroDB/register_processed_data.pl
  uploadNeuroDB/tarchiveLoader
  uploadNeuroDB/tarchive_validation.pl
Labels: BugFix, Refactoring, [branch] minor

#298 Update version to 19.1
  README.md
  VERSION
Labels: Cleanup
