Repository aces/Loris-MRI, pull requests merged in 2018-12, with the labels that each got.

#344 Fixed errors in cleanupTarchives.pl tool
  docs/scripts_md/cleanupTarchives.md
  tools/cleanupTarchives.pl
  tools/mass_perldoc_md_creation.pl
Labels: Add to release notes, BugFix, Perldoc, Priority: High, [branch] minor

#351 Cleanup multiple ways of getting header info from MINC
  DTIPrep/DTI/DTI.pm
  DTIPrep/DTIPrepRegister.pl
  docs/scripts_md/DTI.md
  docs/scripts_md/MRI.md
  docs/scripts_md/register_processed_data.md
  tools/MakeNiiFilesBIDSCompliant.pl
  uploadNeuroDB/NeuroDB/File.pm
  uploadNeuroDB/NeuroDB/MRI.pm
  uploadNeuroDB/register_processed_data.pl
Labels: Cleanup, Priority: Normal, [branch] major

#360 Creation of a script to extract DICOM files for a given patient name/acquisition protocol.
  docs/scripts_md/get_dicom_files.md
  tools/get_dicom_files.pl
  tools/mass_perldoc_md_creation.pl
Labels: Add to release notes, New Feature, [branch] minor
