Repository aces/Loris-MRI, pull requests merged in 2018-06, with the labels that each got.

#307 Fixed a bug in database_files_update.pl.
  tools/database_files_update.pl
Labels: BugFix, PassedManualTest, [branch] minor

#308 Removing trailing / of data_dir in DTIPrep_pipeline and DTIPrepRegister scripts
  DTIPrep/DTIPrepRegister.pl
  DTIPrep/DTIPrep_pipeline.pl
Labels: BugFix, [branch] minor

#300 Fixed the perldoc for MRIProcessingUtility following PR #275
  docs/scripts_md/MRIProcessingUtility.md
  uploadNeuroDB/NeuroDB/MRIProcessingUtility.pm
  uploadNeuroDB/tarchiveLoader
  uploadNeuroDB/tarchive_validation.pl
Labels: Cleanup, Documentation, Perldoc, [branch] minor

#311 Select statements in the new database framework now return a reference to an array of hash references.
  dicom-archive/updateMRI_Upload.pl
  uploadNeuroDB/NeuroDB/Database.pm
  uploadNeuroDB/NeuroDB/MRI.pm
  uploadNeuroDB/NeuroDB/objectBroker/ConfigOB.pm
  uploadNeuroDB/NeuroDB/objectBroker/MriScanTypeOB.pm
  uploadNeuroDB/NeuroDB/objectBroker/MriUploadOB.pm
  uploadNeuroDB/NeuroDB/objectBroker/TarchiveOB.pm
Labels: [branch] major

#283 MRI protocol table can no longer have comma separated ranges: Redmine 14021
  docs/scripts_md/ExitCodes.md
  docs/scripts_md/MRI.md
  docs/scripts_md/MRIProcessingUtility.md
  uploadNeuroDB/NeuroDB/ExitCodes.pm
  uploadNeuroDB/NeuroDB/MRI.pm
  uploadNeuroDB/NeuroDB/MRIProcessingUtility.pm
  uploadNeuroDB/tarchiveLoader
Labels: Caveat for Existing Projects, [branch] minor

#316 Fixing minc_insertion.pl call to validateCandidate, had too many parameters
  uploadNeuroDB/minc_insertion.pl
Labels: BugFix, Cleanup, PassedCodeReview, PassedManualTest

#318 Exit if comma separated values in mri_protocol checks ValidRange column
  docs/scripts_md/MRIProcessingUtility.md
  uploadNeuroDB/NeuroDB/MRIProcessingUtility.pm
  uploadNeuroDB/tarchiveLoader
Labels: Caveat for Existing Projects, [branch] minor

#315 Adding perldoc and markdown as dependencies at install time: Redmine 14724
  imaging_install.sh
Labels: Caveat for Existing Projects

#317 getPSC() now checks the centerID from the session table first, if it exists, before it regex matches the patientname with the site Alias or MRI alias: Redmine 14422
  docs/scripts_md/MRI.md
  uploadNeuroDB/NeuroDB/MRI.pm
Labels: BugFix, Cleanup

#313 Perldoc harmonization
  DTIPrep/DTI/DTI.pm
  DTIPrep/DTIPrepRegister.pl
  DTIPrep/DTIPrep_pipeline.pl
  batch_uploads_imageuploader
  batch_uploads_tarchive
  create.sql
  dicom-archive/DICOM/DCMSUM.pm
  dicom-archive/DICOM/DICOM.pm
  dicom-archive/DICOM/Element.pm
  dicom-archive/DICOM/Fields.pm
  dicom-archive/DICOM/Private.pm
  dicom-archive/DICOM/VRfields.pm
  dicom-archive/dicomTar.pl
  dicom-archive/updateMRI_Upload.pl
  tools/BackPopulateSNRAndAcquisitionOrder.pl
  tools/MakeArchiveLocationRelative.pl
  tools/ProdToConfig.pl
  tools/database_files_update.pl
  tools/example_scripts/deletemincsqlwrapper.pl
  tools/seriesuid2fileid
  uploadNeuroDB/NeuroDB/DBI.pm
  uploadNeuroDB/NeuroDB/ExitCodes.pm
  uploadNeuroDB/NeuroDB/File.pm
  uploadNeuroDB/NeuroDB/FileDecompress.pm
  uploadNeuroDB/NeuroDB/ImagingUpload.pm
  uploadNeuroDB/NeuroDB/MRI.pm
  uploadNeuroDB/NeuroDB/MRIProcessingUtility.pm
  uploadNeuroDB/NeuroDB/Notify.pm
  uploadNeuroDB/bin/concat_mri.pl
  uploadNeuroDB/bin/mincpik
  uploadNeuroDB/imaging_upload_file.pl
  uploadNeuroDB/imaging_upload_file_cronjob.pl
  uploadNeuroDB/mass_nii.pl
  uploadNeuroDB/mass_pic.pl
  uploadNeuroDB/minc_deletion.pl
  uploadNeuroDB/minc_insertion.pl
  uploadNeuroDB/register_processed_data.pl
  uploadNeuroDB/tarchiveLoader
  uploadNeuroDB/tarchive_validation.pl
Labels: Cleanup, PassedCodeReview, PassedManualTest, Perldoc
