Repository aces/Loris-MRI, pull requests merged in 2018-03, with the labels that each got.

#259 Remove unused scripts and files
  Makefile.PL
  dicom-archive/LDZfix.pl
  dicom-archive/Makefile
  dicom-archive/dcm_archive_table.sql
  find_uploads_tarchive
  uploadNeuroDB/CivetRegister.pl
  uploadNeuroDB/Makefile
  uploadNeuroDB/registerFile.pl
Labels: BugFix, Caveat for Existing Projects, Cleanup, [branch] minor

#266 Grep the different file types from the DB instead of hardcoding it in the code
  uploadNeuroDB/NeuroDB/File.pm
Labels: Cleanup, PassedCodeReview, PassedManualTest, Refactoring, Update PerlDoc, [branch] minor

#275 Adding -uploadID option to minc_insertion.pl
  tools/BackPopulateSNRAndAcquisitionOrder.pl
  uploadNeuroDB/NeuroDB/MRIProcessingUtility.pm
  uploadNeuroDB/minc_insertion.pl
  uploadNeuroDB/tarchiveLoader
  uploadNeuroDB/tarchive_validation.pl
Labels: Cleanup, PassedCodeReview, [branch] minor

#270 Harmonize exit codes of the imaging scripts
  DTIPrep/DTIPrepRegister.pl
  DTIPrep/DTIPrep_pipeline.pl
  batch_uploads_imageuploader
  dicom-archive/dicomTar.pl
  dicom-archive/get_dicom_info.pl
  dicom-archive/updateMRI_Upload.pl
  docs/scripts_md/ExitCodes.md
  uploadNeuroDB/NeuroDB/ExitCodes.pm
  uploadNeuroDB/NeuroDB/ImagingUpload.pm
  uploadNeuroDB/NeuroDB/MRIProcessingUtility.pm
  uploadNeuroDB/imaging_upload_file.pl
  uploadNeuroDB/imaging_upload_file_cronjob.pl
  uploadNeuroDB/mass_jiv.pl
  uploadNeuroDB/mass_nii.pl
  uploadNeuroDB/mass_pic.pl
  uploadNeuroDB/minc_deletion.pl
  uploadNeuroDB/minc_insertion.pl
  uploadNeuroDB/register_processed_data.pl
  uploadNeuroDB/tarchiveLoader
  uploadNeuroDB/tarchive_validation.pl
Labels: Add to release notes, Caveat for Existing Projects, Cleanup, New Feature, PassedCodeReview, PassedManualTest, Refactoring, [branch] minor
