Repository aces/Loris-MRI, pull requests merged in 2018-09, with the labels that each got.

#334 Removing creation of site incoming directory from the install scripts
  imaging_install.sh
  imaging_install_MacOSX.sh
Labels: Cleanup, [branch] minor

#330 Added object brokers for tables mri_scanner and psc.
  dicom-archive/profileTemplate
  docs/scripts_md/GetRole.md
  docs/scripts_md/InsertRole.md
  docs/scripts_md/MRI.md
  docs/scripts_md/MriScannerOB.md
  docs/scripts_md/ObjectBroker.md
  docs/scripts_md/PSCOB.md
  uploadNeuroDB/NeuroDB/MRI.pm
  uploadNeuroDB/NeuroDB/MRIProcessingUtility.pm
  uploadNeuroDB/NeuroDB/objectBroker/GetRole.pm
  uploadNeuroDB/NeuroDB/objectBroker/InsertRole.pm
  uploadNeuroDB/NeuroDB/objectBroker/MriScannerOB.pm
  uploadNeuroDB/NeuroDB/objectBroker/ObjectBroker.pm
  uploadNeuroDB/NeuroDB/objectBroker/PSCOB.pm
  uploadNeuroDB/minc_insertion.pl
  uploadNeuroDB/register_processed_data.pl
  uploadNeuroDB/tarchiveLoader
Labels: Refactoring, [branch] major

#263 Add proper extension to all Perl scripts
  DTIPrep/DTI/DTI.pm
  Mincinfo_wrapper.pl
  batch_uploads_imageuploader.pl
  batch_uploads_tarchive.pl
  dicom-archive/DICOM/DCMSUM.pm
  dicom-archive/profileTemplate.pl
  docs/scripts_md/DTI.md
  docs/scripts_md/imaging_upload_file.md
  imaging_install.sh
  imaging_install_MacOSX.sh
  mincpik.pl
  tools/ProdToConfig.pl
  tools/example_scripts/deletemincsqlwrapper.pl
  tools/seriesuid2fileid.pl
  uploadNeuroDB/NeuroDB/ImagingUpload.pm
  uploadNeuroDB/NeuroDB/MRI.pm
  uploadNeuroDB/NeuroDB/MRIProcessingUtility.pm
  uploadNeuroDB/bin/Mincinfo_wrapper.pl
  uploadNeuroDB/bin/mincpik.pl
  uploadNeuroDB/imaging_upload_file.pl
  uploadNeuroDB/tarchiveLoader.pl
Labels: Caveat for Existing Projects, Cleanup, [branch] major

#254 Removing hardcoded "prod" from imaging scripts
  batch_uploads_tarchive.pl
  dicom-archive/updateMRI_Upload.pl
  load_tarchive_db.sh
  tools/BackPopulateSNRAndAcquisitionOrder.pl
  tools/seriesuid2fileid.pl
  uploadNeuroDB/NeuroDB/ImagingUpload.pm
  uploadNeuroDB/NeuroDB/MRIProcessingUtility.pm
  uploadNeuroDB/imaging_upload_file_cronjob.pl
  uploadNeuroDB/minc_insertion.pl
  uploadNeuroDB/tarchiveLoader.pl
  uploadNeuroDB/tarchive_validation.pl
Labels: BugFix, Caveat for Existing Projects, Cleanup, [branch] major

#332 Removal of deprecated tool scripts
  dicom-archive/MakeArchiveLocationRelative.pl
  dicom-archive/addScannerFields.pl
  uploadNeuroDB/undoUpload.pl
Labels: Cleanup, [branch] minor

#335 Added creation of bvec and bval files when creating NIfTI files
  docs/scripts_md/MRI.md
  docs/scripts_md/create_nifti_bval_bvec.md
  tools/create_nifti_bval_bvec.pl
  uploadNeuroDB/NeuroDB/MRI.pm
Labels: Add to release notes, BugFix, Caveat for Existing Projects, [branch] minor

#309 Moving the filterParameters() function out of the profileTemplate file
  dicom-archive/profileTemplate
  docs/02-Install.md
  docs/scripts_md/File.md
  uploadNeuroDB/NeuroDB/File.pm
  uploadNeuroDB/minc_insertion.pl
  uploadNeuroDB/register_processed_data.pl
Labels: Add to release notes, Caveat for Existing Projects, Cleanup, [branch] minor
