Repository aces/Loris-MRI, pull requests merged in 2018-05, with the labels that each got.

#235 [Documentation] DTIPrepRegister.pl perldocification
  DTIPrep/DTIPrepRegister.pl
  docs/scripts_md/DTIPrepRegister.md
Labels: PassedCodeReview, Perldoc

#234 [Documentation] DTIPrep_pipeline.pl perldocification
  DTIPrep/DTIPrep_pipeline.pl
  docs/scripts_md/DTIPrep_pipeline.md
Labels: PassedCodeReview, Perldoc

#233 [Documentation] DTI::DTI library perldocification
  DTIPrep/DTI/DTI.pm
  docs/scripts_md/DTI.md
Labels: PassedCodeReview, Perldoc

#232 [Documentation] DICOM::Private library perldocification
  dicom-archive/DICOM/Private.pm
  docs/scripts_md/Private.md
Labels: PassedCodeReview, Perldoc

#231 [Documentation] DICOM::Fields library perldocification
  dicom-archive/DICOM/Fields.pm
  docs/scripts_md/Fields.md
Labels: PassedCodeReview, Perldoc

#229 [Documentation] DICOM::VRfields library perldocification
  dicom-archive/DICOM/VRfields.pm
  docs/scripts_md/VRfields.md
Labels: PassedCodeReview, Perldoc

#228 [Documentation] DICOM::Element library perldocification
  dicom-archive/DICOM/Element.pm
  docs/scripts_md/Element.md
Labels: PassedCodeReview, Perldoc

#294 Changed the no_nii config to be create_nii to make it clearer
  uploadNeuroDB/minc_insertion.pl
Labels: Add to release notes, Cleanup, PassedManualTest, Priority high - my LORIS friend got merged!, [branch] minor

#227 [Documentation] DICOM::DICOM library perldocification
  dicom-archive/DICOM/DICOM.pm
  docs/scripts_md/DICOM.md
Labels: PassedManualTest, Perldoc

#236 [Documentation] register_processed_data.pl perldocification
  docs/scripts_md/register_processed_data.md
  uploadNeuroDB/register_processed_data.pl
Labels: Perldoc

#204 [Documentation] 01 - Introduction
  docs/01-Introduction.md
  docs/images/user_story.png
Labels: [branch] minor

#305 Used proper exit code constants in updateMRI_Upload.pl instead of numeric literals.
  dicom-archive/updateMRI_Upload.pl
Labels: [branch] major

#299 [Documentation update] File.md perldoc update based from PR #266
  docs/scripts_md/File.md
  uploadNeuroDB/NeuroDB/File.pm
Labels: Documentation, Perldoc, [branch] minor

#301 Fix a bug that was inserted in minc_deletion when writing the perl documentation
  uploadNeuroDB/minc_deletion.pl
Labels: BugFix, PassedManualTest, [branch] minor
