Repository aces/Loris-MRI, pull requests merged in 2018-02, with the labels that each got.

#225 [Documentation] NeuroDB::MRIProcessingUtility library perldocification
  docs/scripts_md/MRIProcessingUtility.md
  uploadNeuroDB/NeuroDB/MRIProcessingUtility.pm
Labels: PassedManualTest, Perldoc

#226 [Documentation] DICOM::DCMSUM library perldocification
  dicom-archive/DICOM/DCMSUM.pm
  docs/scripts_md/DCMSUM.md
Labels: PassedManualTest, Perldoc

#237 [Documentation] minc_insertion.pl
  docs/scripts_md/minc_insertion.md
  uploadNeuroDB/minc_insertion.pl
Labels: PassedManualTest, Perldoc

#238 [Documentation] tarchive_validation.pl perldocification
  docs/scripts_md/tarchive_validation.md
  uploadNeuroDB/tarchive_validation.pl
Labels: PassedManualTest, Perldoc

#240 [Documentation] mass_pic.pl perldocification
  docs/scripts_md/mass_pic.md
  uploadNeuroDB/mass_pic.pl
Labels: PassedManualTest, Perldoc

#272 Installer: Populate the default LORIS config settings for the MRI paths (Redmine 13915)
  README.md
  imaging_install.sh
Labels: BugFix, Cleanup, PassedCodeReview, PassedManualTest

#274 [Documentation] Mention the extra file checks in the pipeline flow description
  docs/02-Install.md
Labels: Documentation, [branch] minor

#242 [Documentation] mass_nii.pl perldocification
  docs/scripts_md/mass_nii.md
  uploadNeuroDB/mass_nii.pl
Labels: PassedManualTest, Perldoc

#281 [documentation] Fix tarchiveLoader after it was perlified
  docs/scripts_md/tarchiveLoader.md
  uploadNeuroDB/tarchiveLoader
Labels: Cleanup, Documentation

#280 [post 19.0.0 release] loris-mri-docs: forward changes from v19.0.0 and resolve conflicts
  DTIPrep/DTI/DTI.pm
  batch_uploads_imageuploader
  dicom-archive/DICOM/DCMSUM.pm
  dicom-archive/dicomTar.pl
  imaging_install.sh
  uploadNeuroDB/NeuroDB/ImagingUpload.pm
  uploadNeuroDB/NeuroDB/MRI.pm
  uploadNeuroDB/NeuroDB/MRIProcessingUtility.pm
  uploadNeuroDB/mass_pic.pl
  uploadNeuroDB/minc_deletion.pl
  uploadNeuroDB/minc_insertion.pl
Labels: Documentation
