Repository aces/Loris-MRI, pull requests merged in 2019-07, with the labels that each got.

#448 [BIDS EEG] Upgrade code so can be used with pybids 0.9.1
  python/lib/bids.json
  python/lib/bidsreader.py
  python/lib/eeg.py
Labels: Add to release notes, Caveat for Existing Projects, [branch] major

#459 Fixed incorrect use of MRIScannerOB in MRI.pm.
  uploadNeuroDB/NeuroDB/MRI.pm
Labels: BugFix

#453 [Clean up] the full MINC header entry will not be imported into the parameter_file table anymore
  uploadNeuroDB/NeuroDB/File.pm
Labels: Add to release notes, Cleanup, PassedManualTest, [branch] minor

#463 [SQL] Removed insertion or updates in mri_acquisition_dates
  docs/04-Scripts.md
  docs/scripts_md/MRIProcessingUtility.md
  docs/scripts_md/minc_deletion.md
  uploadNeuroDB/NeuroDB/MRIProcessingUtility.pm
  uploadNeuroDB/minc_deletion.pl
Labels: Add to release notes, Cleanup, [branch] major
