Repository aces/Loris-MRI, pull requests merged in 2019-03, with the labels that each got.

#403 [Bug fix] Fix paths stored in violation tables
  docs/scripts_md/MRIProcessingUtility.md
  docs/scripts_md/cleanup_paths_of_violation_tables.md
  tools/cleanup_paths_of_violation_tables.pl
  tools/mass_perldoc_md_creation.pl
  uploadNeuroDB/NeuroDB/MRI.pm
  uploadNeuroDB/NeuroDB/MRIProcessingUtility.pm
  uploadNeuroDB/minc_insertion.pl
Labels: Add to release notes, BugFix, Caveat for Existing Projects, Priority: High, [branch] minor

#407 Added a check to verify if CandID and PSCID from the image are referring to the same subject
  uploadNeuroDB/NeuroDB/MRIProcessingUtility.pm
Labels: Add to release notes, BugFix, Caveat for Existing Projects, Priority: High, [branch] minor

#399 Removed imagePath, mincPath and data from imaging_install.sh
  imaging_install.sh
  python/lib/physiological.py
  uploadNeuroDB/NeuroDB/File.pm
Labels: Add to release notes, Blocked, Caveat for Existing Projects, Cleanup, [branch] major

#409 Circumvented bug that made tar fail on NFS file systems in get_dicom_script.pl and added option -id
  docs/scripts_md/get_dicom_files.md
  tools/get_dicom_files.pl
Labels: Add to release notes, BugFix, PassedCodeReview, PassedManualTest, [branch] minor
