Repository aces/Loris-MRI, pull requests merged in 2019-06, with the labels that each got.

#391 Creation of a tool to delete an MRI upload and everything associated to it
  docs/scripts_md/MRI.md
  docs/scripts_md/delete_imaging_upload.md
  tools/delete_imaging_upload.pl
  tools/mass_perldoc_md_creation.pl
  uploadNeuroDB/NeuroDB/MRI.pm
Labels: Add to release notes, New Feature, [branch] major

#438 Add a note about the deletion script in the docs of LORIS-MRI
  docs/04-Scripts.md
Labels: Documentation, [branch] major

#440 [mass_perdoc_md_creation.pl] updated the list of files with Moose files and .pl extensions
  tools/mass_perldoc_md_creation.pl
Labels: BugFix, [branch] major

#439 [install script] Add the missing DBI.pm library to the CPAN install
  imaging_install.sh
Labels: [branch] major

#441 [Documentation] Update all .md files from script's perl documentation
  docs/scripts_md/BackPopulateSNRAndAcquisitionOrder.md
  docs/scripts_md/ConfigOB.md
  docs/scripts_md/DBI.md
  docs/scripts_md/DCMSUM.md
  docs/scripts_md/DICOM.md
  docs/scripts_md/DTI.md
  docs/scripts_md/DTIPrepRegister.md
  docs/scripts_md/DTIPrep_pipeline.md
  docs/scripts_md/Database.md
  docs/scripts_md/DatabaseException.md
  docs/scripts_md/Element.md
  docs/scripts_md/ExitCodes.md
  docs/scripts_md/Fields.md
  docs/scripts_md/File.md
  docs/scripts_md/FileDecompress.md
  docs/scripts_md/ImagingUpload.md
  docs/scripts_md/MRI.md
  docs/scripts_md/MRIProcessingUtility.md
  docs/scripts_md/MakeArchiveLocationRelative.md
  docs/scripts_md/MriScanTypeOB.md
  docs/scripts_md/MriUploadOB.md
  docs/scripts_md/Notify.md
  docs/scripts_md/ObjectBrokerException.md
  docs/scripts_md/Private.md
  docs/scripts_md/ProdToConfig.md
  docs/scripts_md/TarchiveOB.md
  docs/scripts_md/UnexpectedValueException.md
  docs/scripts_md/VRfields.md
  docs/scripts_md/batch_run_defacing_script.md
  docs/scripts_md/batch_run_pipeline_qc_face_script.md
  docs/scripts_md/batch_uploads_imageuploader.md
  docs/scripts_md/batch_uploads_tarchive.md
  docs/scripts_md/cleanupTarchives.md
  docs/scripts_md/concat_mri.md
  docs/scripts_md/create_nifti_bval_bvec.md
  docs/scripts_md/database_files_update.md
  docs/scripts_md/delete_imaging_upload.md
  docs/scripts_md/dicomDescribe.md
  docs/scripts_md/dicomSummary.md
  docs/scripts_md/dicomTar.md
  docs/scripts_md/get_dicom_info.md
  docs/scripts_md/imaging_non_minc_insertion.md
  docs/scripts_md/imaging_upload_file.md
  docs/scripts_md/imaging_upload_file_cronjob.md
  docs/scripts_md/mass_nii.md
  docs/scripts_md/mass_perldoc_md_creation.md
  docs/scripts_md/mass_pic.md
  docs/scripts_md/minc_deletion.md
  docs/scripts_md/minc_insertion.md
  docs/scripts_md/mincpik.md
  docs/scripts_md/register_processed_data.md
  docs/scripts_md/seriesuid2fileid.md
  docs/scripts_md/splitMergedSeries.md
  docs/scripts_md/tarchiveLoader.md
  docs/scripts_md/tarchive_validation.md
  docs/scripts_md/updateHeaders.md
  docs/scripts_md/updateHeadersBatch.md
  docs/scripts_md/updateMRI_Upload.md
Labels: Documentation, [branch] major

#442 [BIDS EEG import] Changed the field CenterID to be RegistrationCenterID when querying the candidate table
  python/bids_import.py
  python/lib/candidate.py
Labels: Add to release notes, Refactoring, [branch] major

#445 [BIDS EEG import] Missed one renaming the CenterID field of the candidate table in one occurence in python scripts
  python/lib/eeg.py
Labels: BugFix, [branch] major

#446 [BIDS EEG] Fixing an if statement to check if `acq_time` is available in `sub-XX_scans.tsv`
  python/lib/eeg.py
Labels: BugFix, [branch] major

#447 [BIDS EEG] Get age at scan from sub-XXX_scans.tsv file of the BIDS structure
  python/lib/eeg.py
  python/lib/scanstsv.py
Labels: New Feature, Refactoring, [branch] major
