Repository aces/Loris-MRI, pull requests merged in 2019-01, with the labels that each got.

#345 Fixed updateHeaders.pl that did not run dicomTar.pl properly when -database option was set
  docs/scripts_md/updateHeaders.md
  tools/mass_perldoc_md_creation.pl
  tools/updateHeaders.pl
Labels: Add to release notes, BugFix, Perldoc, Priority: High, [branch] minor

#358 Move getSNRModalities() out of the profile file (prod file)
  dicom-archive/profileTemplate
  docs/02-Install.md
  docs/scripts_md/MRIProcessingUtility.md
  tools/BackPopulateSNRAndAcquisitionOrder.pl
  uploadNeuroDB/NeuroDB/MRIProcessingUtility.pm
  uploadNeuroDB/tarchiveLoader
Labels: Add to release notes, Caveat for Existing Projects, Cleanup, Priority high - my LORIS friend got merged!, [branch] minor

#365 Header (0020,0032) now only checked when -slicepos is passed on the command line
  dicom-archive/get_dicom_info.pl
Labels: [branch] minor

#368 Use getpwuid instead of a call to whoami to get the userid throughout the MRI pipeline codebase.
  batch_uploads_imageuploader
  dicom-archive/updateMRI_Upload.pl
  uploadNeuroDB/tarchiveLoader
  uploadNeuroDB/tarchive_validation.pl
Labels: Refactoring, [branch] minor

#336 Replace the "Gender" field with "Sex" in the candidate and tarchive tables
  dicom-archive/DICOM/DCMSUM.pm
  docs/scripts_md/MRIProcessingUtility.md
  docs/scripts_md/tarchive_validation.md
  uploadNeuroDB/NeuroDB/MRIProcessingUtility.pm
  uploadNeuroDB/tarchive_validation.pl
Labels: Cleanup, PassedCodeReview, PassedManualTest, [branch] major

#355 Fix DTIPrep pipeline when create NIfTI is set to yes
  DTIPrep/DTI/DTI.pm
Labels: BugFix, Priority: High, [branch] minor

#370 [Bug fix] Insert into parameter_type_category_rel table when creating new parameter_type
  python/lib/physiological.py
  uploadNeuroDB/NeuroDB/File.pm
Labels: Add to release notes, BugFix, Caveat for Existing Projects, Priority high - my LORIS friend got merged!, [branch] minor

#271 Creation of a generic file insertion script
  docs/scripts_md/imaging_non_minc_insertion.md
  imaging_install.sh
  tools/mass_perldoc_md_creation.pl
  uploadNeuroDB/NeuroDB/ExitCodes.pm
  uploadNeuroDB/NeuroDB/MRIProcessingUtility.pm
  uploadNeuroDB/imaging_non_minc_insertion.pl
Labels: Add to release notes, Caveat for Existing Projects, New Feature, Perldoc, Priority high - my LORIS friend got merged!, [branch] minor

#371 [Bug fix] fix get_dicom_info.pl so that it skips the scanner reports
  dicom-archive/get_dicom_info.pl
  docs/scripts_md/ImagingUpload.md
  docs/scripts_md/MRI.md
  uploadNeuroDB/NeuroDB/ImagingUpload.pm
  uploadNeuroDB/NeuroDB/MRI.pm
  uploadNeuroDB/NeuroDB/MRIProcessingUtility.pm
Labels: BugFix, Discussion Required, Priority: High, [branch] minor

#376 [EEG install] fix README.md dependencies for EEG pipeline
  README.md
Labels: Documentation, PassedCodeReview, PassedManualTest, [branch] minor
