Repository aces/Loris-MRI, pull requests merged in 2020-02, with the labels that each got.

#508 Allow deletion of a file with a specific base name in delete_imaging_upload.pl
  docs/scripts_md/delete_imaging_upload.md
  tools/delete_imaging_upload.pl
Labels: New Feature

#519 Removed leftover occurrences of requiresStaging
  docs/scripts_md/MRI.md
  uploadNeuroDB/NeuroDB/MRI.pm
  uploadNeuroDB/imaging_non_minc_insertion.pl
Labels: Cleanup

#517 [python] Creation of a DICOM archive validation script
  dicom-archive/database_config_template.py
  python/dicom_archive_validation.py
  python/lib/database.py
  python/lib/database_lib/__init__.py
  python/lib/database_lib/config.py
  python/lib/database_lib/mriscanner.py
  python/lib/database_lib/mriupload.py
  python/lib/database_lib/notification.py
  python/lib/database_lib/site.py
  python/lib/database_lib/tarchive.py
  python/lib/imaging.py
  python/lib/utilities.py
Labels: Add to release notes, New Feature, PassedManualTest, Refactoring
