Repository aces/Loris-MRI, pull requests merged in 2020-11, with the labels that each got.

#566 [23.0.0][Bugfix] Fixing error for deleting __MACOSX folder
  dicom-archive/dicomTar.pl
  uploadNeuroDB/NeuroDB/ImagingUpload.pm
Labels: 23-testing, BugFix

#567 Correct typos in get_dicom_files.pl script doc.
  docs/scripts_md/get_dicom_files.md
  tools/get_dicom_files.pl
Labels: Perldoc

#565 Missing import fix
  python/lib/candidate.py
Labels: BugFix

#568 [22.0][Bugfix] Undef EchoTime, RepTime and SliceThickness
  dicom-archive/DICOM/DCMSUM.pm
Labels: BugFix

#558 Populating Project/Subproject/Current_Stage in Loris DB
  .gitignore
  python/bids_import.py
  python/lib/candidate.py
  python/lib/eeg.py
  python/lib/mri.py
  python/lib/session.py
Labels: Add to release notes, New Feature, PassedManualTest

#563 Circumvent a dcm2mnc bug that causes modalities to be ignored in specific occasions.
  uploadNeuroDB/NeuroDB/MRIProcessingUtility.pm
Labels: BugFix, PassedManualTest
