Repository aces/Loris-MRI, pull requests merged in 2020-03, with the labels that each got.

#369 Add support for multiple MRI protocols.
  dicom-archive/profileTemplate.pl
  docs/03-TechnicalInfrastructure.md
  docs/images/files_tables.png
  docs/scripts_md/ConfigOB.md
  docs/scripts_md/MRI.md
  docs/scripts_md/MRIProcessingUtility.md
  uploadNeuroDB/NeuroDB/ExitCodes.pm
  uploadNeuroDB/NeuroDB/MRI.pm
  uploadNeuroDB/NeuroDB/MRIProcessingUtility.pm
  uploadNeuroDB/NeuroDB/objectBroker/ConfigOB.pm
  uploadNeuroDB/imaging_non_minc_insertion.pl
  uploadNeuroDB/minc_insertion.pl
  uploadNeuroDB/tarchiveLoader.pl
Labels: Add to release notes, New Feature, Priority: High

#529 Remove minc_deletion.pl script now that we have delete_imaging_upload.pl
  docs/scripts_md/minc_deletion.md
  tools/example_scripts/deletemincsqlwrapper.pl
  tools/mass_perldoc_md_creation.pl
  uploadNeuroDB/minc_deletion.pl
Labels: Add to release notes, Cleanup

#528 Remove new_scanner option from the pipeline
  docs/scripts_md/MRI.md
  docs/scripts_md/MRIProcessingUtility.md
  docs/scripts_md/minc_insertion.md
  docs/scripts_md/tarchiveLoader.md
  docs/scripts_md/tarchive_validation.md
  uploadNeuroDB/NeuroDB/MRI.pm
  uploadNeuroDB/NeuroDB/MRIProcessingUtility.pm
  uploadNeuroDB/minc_insertion.pl
  uploadNeuroDB/tarchiveLoader.pl
  uploadNeuroDB/tarchive_validation.pl
Labels: Add to release notes, Cleanup

#530 Remove -globLocation option
  DTIPrep/DB
  batch_uploads_tarchive.pl
  dicom-archive/dicomTar.pl
  dicom-archive/updateMRI_Upload.pl
  docs/04-Scripts.md
  docs/scripts_md/ImagingUpload.md
  docs/scripts_md/MRIProcessingUtility.md
  docs/scripts_md/MriUploadOB.md
  docs/scripts_md/TarchiveOB.md
  docs/scripts_md/batch_uploads_tarchive.md
  docs/scripts_md/dicomTar.md
  docs/scripts_md/minc_insertion.md
  docs/scripts_md/tarchiveLoader.md
  docs/scripts_md/tarchive_validation.md
  docs/scripts_md/updateMRI_Upload.md
  uploadNeuroDB/NeuroDB/ImagingUpload.pm
  uploadNeuroDB/NeuroDB/MRIProcessingUtility.pm
  uploadNeuroDB/NeuroDB/objectBroker/MriUploadOB.pm
  uploadNeuroDB/NeuroDB/objectBroker/TarchiveOB.pm
  uploadNeuroDB/minc_insertion.pl
  uploadNeuroDB/tarchiveLoader.pl
  uploadNeuroDB/tarchive_validation.pl
Labels: Add to release notes, Caveat for Existing Projects, Cleanup

#532 Use TarchiveOB and MriUploadOB through the entire LORIS-MRI codebase.
  dicom-archive/updateMRI_Upload.pl
  docs/scripts_md/MRIProcessingUtility.md
  docs/scripts_md/TarchiveOB.md
  uploadNeuroDB/NeuroDB/MRIProcessingUtility.pm
  uploadNeuroDB/NeuroDB/objectBroker/MriUploadOB.pm
  uploadNeuroDB/NeuroDB/objectBroker/TarchiveOB.pm
  uploadNeuroDB/minc_insertion.pl
Labels: Refactoring

#534 [bug_fix] Fix pipelines errors when running the pipeline on a Mac OS X sandbox
  INSTALL.Mac.md
  dicom-archive/dicomTar.pl
  uploadNeuroDB/NeuroDB/ImagingUpload.pm
Labels: BugFix, Priority: High

#533 [bug fix] Fixed Can't call method 'prepare' on unblessed reference at MRI.pm line 150
  uploadNeuroDB/imaging_non_minc_insertion.pl
Labels: BugFix, Priority: High
