Repository aces/Loris-MRI, pull requests merged in 2020-04, with the labels that each got.

#540 Fixed invalid find command in dicomTar.pl.
  dicom-archive/dicomTar.pl
Labels: 23-testing, BugFix

#542 Missing notifications when the pipeline cannot create a visit.
  uploadNeuroDB/minc_insertion.pl
Labels: 23-testing, BugFix

#543 [python] fix mass electrophysiology chunking script
  python/mass_electrophysiology_chunking.py
Labels: 23-testing, BugFix

#544 [python] fix timestamp not being populated in the parameter_file
  python/lib/imaging.py
Labels: 23-testing, Add to release notes, BugFix, PassedManualTest

#545 Ensure Reason column of table MRICandidateErrors does not contain newlines
  uploadNeuroDB/minc_insertion.pl
Labels: 23-testing, BugFix, PassedManualTest

#537 [bug fix] Fixes a bug in MakeArchiveLocationRelative.pl
  tools/MakeArchiveLocationRelative.pl
Labels: 23-testing, BugFix
