Repository aces/Loris-MRI, pull requests merged in 2021-06, with the labels that each got.

#631 Add missing CPAN library to install
  imaging_install.sh
Labels: Install, PassedManualTest

#635 [docs] Fixed typo in README
  README.md
Labels: Documentation

#638 [Perl] [tools] Add new script that replicates RaisinBread dataset
  docs/scripts_md/replicate_raisinbread_for_mcin_dev_vm.md
  tools/mass_perldoc_md_creation.pl
  tools/replicate_raisinbread_for_mcin_dev_vm.pl
Labels: Discussion Required, Tools
