Repository aces/Loris-MRI, pull requests merged in 2021-09, with the labels that each got.

#669 Move imaging scripts from /data to /opt
  README.md
  docs/02-Install.md
  docs/03-TechnicalInfrastructure.md
  docs/05-PipelineLaunchOptions.md
  imaging_install.sh
Labels: Cleanup, Documentation, Install

#671 Stop using config setting useProjects (projects are always "used" now)
  dicom-archive/profileTemplate.pl
  docs/scripts_md/ConfigOB.md
  uploadNeuroDB/NeuroDB/MRIProcessingUtility.pm
  uploadNeuroDB/NeuroDB/objectBroker/ConfigOB.pm
Labels: BugFix, PassedManualTest, Perldoc

#675 [Bugfix] call to getPSC was passed wrong variable
  uploadNeuroDB/NeuroDB/MRI.pm
Labels: BugFix

#676 Stop using config setting useProjects (projects are always "used" now) for 23.0 bug fix release
  dicom-archive/profileTemplate.pl
  docs/scripts_md/ConfigOB.md
  uploadNeuroDB/NeuroDB/MRIProcessingUtility.pm
  uploadNeuroDB/NeuroDB/objectBroker/ConfigOB.pm
Labels: BugFix, PassedManualTest, Perldoc, Copied in release notes

#608 EEG-BIDS pipeline - Derivatives support: annotations
  python/lib/database_lib/physiologicalannotationarchive.py
  python/lib/database_lib/physiologicalannotationfile.py
  python/lib/database_lib/physiologicalannotationinstance.py
  python/lib/database_lib/physiologicalannotationlabel.py
  python/lib/database_lib/physiologicalannotationparameter.py
  python/lib/database_lib/physiologicalannotationrel.py
  python/lib/eeg.py
  python/lib/physiological.py
Labels: New Feature, Blocked, BIDS import pipeline, EEG/iEEG
