Repository aces/Loris-MRI, pull requests merged in 2021-03, with the labels that each got.

#595 Fix bug occurring when multiple MRI pipeline processes are running simultaneously
  uploadNeuroDB/NeuroDB/MRI.pm
Labels: BugFix

#524 PET HRRT insertion pipeline
  README.md
  batch_uploads_imageuploader.pl
  dicom-archive/profileTemplate.pl
  docs/01-Introduction.md
  docs/02-Install.md
  docs/03-TechnicalInfrastructure.md
  docs/04-Scripts.md
  docs/05-PipelineLaunchOptions.md
  docs/images/._files_tables.png
  imaging_install.sh
  imaging_install_MacOSX.sh
  uploadNeuroDB/HRRT_PET_insertion.pl
  uploadNeuroDB/NeuroDB/DBI.pm
  uploadNeuroDB/NeuroDB/Database.pm
  uploadNeuroDB/NeuroDB/ExitCodes.pm
  uploadNeuroDB/NeuroDB/File.pm
  uploadNeuroDB/NeuroDB/FileDecompress.pm
  uploadNeuroDB/NeuroDB/HRRT.pm
  uploadNeuroDB/NeuroDB/ImagingUpload.pm
  uploadNeuroDB/NeuroDB/MRI.pm
  uploadNeuroDB/NeuroDB/MRIProcessingUtility.pm
  uploadNeuroDB/NeuroDB/MincUtilities.pm
  uploadNeuroDB/NeuroDB/Utilities.pm
  uploadNeuroDB/imaging_upload_file.pl
  uploadNeuroDB/minc_insertion.pl
Labels: Add to release notes, New Feature, PassedManualTest

#601 Allow delete script to be run without the MySQL PROCESS privilege.
  tools/delete_imaging_upload.pl
Labels: BugFix, PassedManualTest

#600 Optimization of the delete imaging upload script.
  tools/delete_imaging_upload.pl
Labels: BugFix, PassedManualTest
