Repository aces/Loris-MRI, pull requests merged in 2021-11, with the labels that each got.

#717 Fix bug in findScannerID function call in register_processed_data.pl
  uploadNeuroDB/register_processed_data.pl
Labels: Bug, Perl imaging pipeline, 24.0-testing

#716 Fix mass_nifti_pic.py in the case there is already an entry in parameter_file for the pic path
  python/lib/imaging.py
  python/mass_nifti_pic.py
Labels: Bug, Python imaging pipeline, 24.0-testing

#719 Repair invalid code in uploadNeuroDB/NeuroDB/MRIProcessingUtility.pm
  uploadNeuroDB/NeuroDB/MRIProcessingUtility.pm
Labels: Bug

#722 uploadNeuroDB/imaging_non_minc_insertion.pl now works with all versions of Perl
  uploadNeuroDB/imaging_non_minc_insertion.pl
Labels: Bug, PassedManualTest

#728 Update get dicom info documentation to remove non-existant options
  dicom-archive/get_dicom_info.pl
  docs/scripts_md/MRI.md
  docs/scripts_md/get_dicom_info.md
Labels: Documentation

#729 Fix bugs found when testing the delete script
  tools/delete_imaging_upload.pl
Labels: Bug, PassedManualTest, Delete script, 24.0-testing

#726 Map n/a values for electrodes X, Y and Z fields to NULL in physiological_electrode table
  python/lib/physiological.py
Labels: Bug, BIDS import pipeline, 24.0-testing

#727 Fixes a NoneType error bug when no entry in scans.tsv for a given file and trying to look for an acquisition date
  python/lib/scanstsv.py
Labels: Bug, BIDS import pipeline, 24.0-testing
