Repository aces/Loris-MRI, pull requests merged in 2021-04, with the labels that each got.

#578 [imaging_upload_file] Add progress email notifications
  docs/scripts_md/ImagingUpload.md
  docs/scripts_md/Notify.md
  uploadNeuroDB/NeuroDB/ImagingUpload.pm
  uploadNeuroDB/NeuroDB/Notify.pm
  uploadNeuroDB/imaging_upload_file.pl
Labels: New Feature

#610 Encoding issue
  python/lib/utilities.py
Labels: BIDS import pipeline, BugFix, PassedManualTest

#611 Grep issue
  uploadNeuroDB/NeuroDB/MRIProcessingUtility.pm
Labels: BugFix, PassedManualTest, Perl imaging pipeline
