Repository aces/Loris-MRI, pull requests merged in 2021-08, with the labels that each got.

#643 Improved distribution detection to imaging_install.sh
  imaging_install.sh
Labels: Install

#639 Remove the duplicated section of code due to a bad rebase when rebasing the HRRT PR branch with main
  uploadNeuroDB/minc_insertion.pl
Labels: Cleanup, Perl imaging pipeline

#625 BIDS import - handle multiple physiology files and derivatives
  python/bids_import.py
  python/lib/bidsreader.py
  python/lib/database.py
  python/lib/eeg.py
  python/lib/physiological.py
Labels: BIDS import pipeline, EEG/iEEG
