Repository aces/Loris-MRI, pull requests merged in 2021-07, with the labels that each got.

#640 [Perl] Set default ScannerID value to NULL
  uploadNeuroDB/NeuroDB/MRI.pm
Labels: BugFix, Caveat for Existing Projects, Discussion Required, Perl imaging pipeline

#641 Added a check to see if /data/incoming/ was created in imaging_install.sh
  imaging_install.sh
Labels: Install

#617 Display more elaborate message in the error for comparison of subjects present in participants.tsv and the ones present in the BIDS layout
  python/lib/bidsreader.py
Labels: BIDS import pipeline

#645 Append entries to participants.tsv if participants.tsv file already exists in bids import
  python/bids_import.py
  python/lib/utilities.py
Labels: BIDS import pipeline, BugFix

#644 Add Current stage when creating the visit for the bids_import.py pipeline
  python/lib/session.py
Labels: BIDS import pipeline, BugFix

#642 Add database connection check in imaging_install.sh
  imaging_install.sh
Labels: Install
