Repository aces/Loris-MRI, pull requests merged in 2022-12, with the labels that each got.

#845 Fix database query to the files table when it checks if file already inserted in DB
  python/lib/database_lib/files.py
  python/lib/dcm2bids_imaging_pipeline_lib/nifti_insertion_pipeline.py
Labels: Bug, Add to release notes, Priority: High, Python imaging pipeline

#846 Fix logic of determining file run number when previously inserted files are already pushed to S3 and not on filesystem anymore
  python/lib/dcm2bids_imaging_pipeline_lib/nifti_insertion_pipeline.py
  python/lib/imaging.py
Labels: Bug, Add to release notes, Priority: High

#849 Revert chunk pb2 changes
  python/react-series-data-viewer/protocol_buffers/chunk_pb2.py
Labels: Bug, Add to release notes, EEG/iEEG

#853 [dcm2bids] Fix permission denied issue when trying to erase tmp directory after pipeline is done running
  python/lib/dcm2bids_imaging_pipeline_lib/base_pipeline.py
Labels: Bug, Python imaging pipeline

#856 Fix two matching protocols' error when matching protocols are actually the same scan type
  python/lib/imaging.py
Labels: Add to release notes, Python imaging pipeline

#857 Add missing exit codes on the python's side
  python/lib/exitcode.py
Labels: Bug, Cleanup, Python imaging pipeline

#859 Ignore case when checking regex for series description in python pipeline
  python/lib/imaging.py
Labels: Bug, Add to release notes, Python imaging pipeline
