Repository aces/Loris-MRI, pull requests merged in 2022-02, with the labels that each got.

#752 dcm2bids insertion pipeline
  docs/01-Introduction.md
  docs/02-Install.md
  docs/03-TechnicalInfrastructure.md
  docs/04-Scripts.md
  docs/05-PipelineLaunchOptions.md
  docs/images/files_tables.png
  docs/images/overall_flow.png
  docs/images/pipeline_schematic.png
  docs/images/pipeline_schematic_dcm2bids.png
  docs/images/pipeline_schematic_dcm2mnc.png
  imaging_install.sh
  imaging_install_MacOSX.sh
  python/bids_import.py
  python/dicom_archive_validation.py
  python/lib/database_lib/candidate_db.py
  python/lib/database_lib/config.py
  python/lib/database_lib/files.py
  python/lib/database_lib/mri_protocol.py
  python/lib/database_lib/mri_protocol_checks.py
  python/lib/database_lib/mri_protocol_violated_scans.py
  python/lib/database_lib/mri_scan_type.py
  python/lib/database_lib/mri_scanner.py
  python/lib/database_lib/mri_upload_db.py
  python/lib/database_lib/mri_violations_log.py
  python/lib/database_lib/mriscanner.py
  python/lib/database_lib/mriupload.py
  python/lib/database_lib/notification.py
  python/lib/database_lib/parameter_file.py
  python/lib/database_lib/parameter_type.py
  python/lib/database_lib/project_subproject_rel.py
  python/lib/database_lib/session_db.py
  python/lib/database_lib/site.py
  python/lib/database_lib/tarchive.py
  python/lib/database_lib/tarchive_series.py
  python/lib/database_lib/visit_windows.py
  python/lib/dcm2bids_imaging_pipeline_lib/__init__.py
  python/lib/dcm2bids_imaging_pipeline_lib/base_pipeline.py
  python/lib/dcm2bids_imaging_pipeline_lib/dicom_archive_loader_pipeline.py
  python/lib/dcm2bids_imaging_pipeline_lib/dicom_validation_pipeline.py
  python/lib/dcm2bids_imaging_pipeline_lib/nifti_insertion_pipeline.py
  python/lib/dicom_archive.py
  python/lib/eeg.py
  python/lib/exitcode.py
  python/lib/imaging.py
  python/lib/imaging_upload.py
  python/lib/log.py
  python/lib/lorisgetopt.py
  python/lib/mri.py
  python/lib/session.py
  python/lib/utilities.py
  python/mass_electrophysiology_chunking.py
  python/mass_nifti_pic.py
  python/run_dicom_archive_loader.py
  python/run_dicom_archive_validation.py
  python/run_nifti_insertion.py
  uploadNeuroDB/NeuroDB/ExitCodes.pm
  uploadNeuroDB/NeuroDB/ImagingUpload.pm
  uploadNeuroDB/NeuroDB/objectBroker/ConfigOB.pm
  uploadNeuroDB/imaging_upload_file.pl
Labels: Add to release notes, New Feature, Documentation, Blocked, Python imaging pipeline

#758 Script to push imaging data to an S3 bucket
  dicom-archive/database_config_template.py
  docs/03-TechnicalInfrastructure.md
  docs/04-Scripts.md
  python/lib/aws_s3.py
  python/lib/database_lib/mri_protocol_violated_scans.py
  python/lib/database_lib/mri_violations_log.py
  python/lib/dcm2bids_imaging_pipeline_lib/push_imaging_files_to_s3_pipeline.py
  python/lib/imaging.py
  python/lib/utilities.py
  python/requirements.txt
  python/run_push_imaging_files_to_s3_pipeline.py
Labels: Python imaging pipeline

#759 Annotations Parameter - Description bugfix
  python/lib/database_lib/physiologicalannotationparameter.py
  python/lib/physiological.py
Labels: Bug, PassedManualTest, BIDS import pipeline, 24.0-testing

#760 Bugfix - Annotation get_nearest should take subject arg
  python/lib/eeg.py
Labels: Bug, PassedManualTest, BIDS import pipeline, 24.0-testing

#762 Bugfix: Floats returning false on isdecimal() fxn
  python/lib/physiological.py
Labels: Bug, PassedManualTest

#761 Use os.path.join to reconstruct directory instead of string concatenation in BIDS import pipeline
  python/lib/eeg.py
  python/lib/mri.py
Labels: Bug, BIDS import pipeline, 24.0-testing
