Repository aces/Loris-MRI, pull requests merged in 2022-10, with the labels that each got.

#800 [DICOMSUM] Set FileNumber to undef if it is '' in the DICOM header
  dicom-archive/DICOM/DCMSUM.pm
Labels: Bug, Add to release notes

#801 [dcm2bids] Add missing get_scanner_candid function in imaging.py
  python/lib/database_lib/mri_scanner.py
  python/lib/imaging.py
Labels: Bug, Add to release notes, Python imaging pipeline

#802 Add TaskName field to JSON side car file for modalities with task-* names
  python/lib/dcm2bids_imaging_pipeline_lib/nifti_insertion_pipeline.py
Labels: Bug, Add to release notes, Python imaging pipeline

#803 Add required IntendedFor BIDS field in fieldmap JSON files
  python/lib/dcm2bids_imaging_pipeline_lib/dicom_archive_loader_pipeline.py
  python/lib/imaging.py
Labels: Bug, Add to release notes, Python imaging pipeline

#804 Fix batch_uploads_tarchive to redirect to dcm2bids pipeline when dcm2niix is set as a converter in the Configs
  batch_uploads_tarchive.pl
Labels: Bug, Add to release notes

#807 Fix markdown typo in 05-PipelineLaunchOptions.md
  docs/05-PipelineLaunchOptions.md
Labels: Cleanup, Documentation

#806 [dcm2bids pipeline] Delete temporary directory created by the pipeline once it is done running
  python/lib/dcm2bids_imaging_pipeline_lib/base_pipeline.py
  python/lib/dcm2bids_imaging_pipeline_lib/dicom_archive_loader_pipeline.py
  python/lib/dcm2bids_imaging_pipeline_lib/dicom_validation_pipeline.py
  python/lib/dcm2bids_imaging_pipeline_lib/nifti_insertion_pipeline.py
Labels: Bug, Add to release notes, Python imaging pipeline

#811 Fix imaging_install.sh
  imaging_install.sh
Labels: Bug, Add to release notes, Install
