Repository aces/Loris-MRI, pull requests merged in 2023-07, with the labels that each got.

#999 [register_processed_data] Add more validation for options -sourceFileID and -inputFileIDs
  uploadNeuroDB/register_processed_data.pl
Labels: 25.0-bug

#1002 [imaging_non_minc_insertion] Validate -date_acquired argument
  uploadNeuroDB/imaging_non_minc_insertion.pl
Labels: 25.0-bug

#995 [get_dicom_files] fix -id parameter
  tools/get_dicom_files.pl
Labels: Tools, 25.0-bug

#991 Control DB parameters initialization
  dicom-archive/profileTemplate.pl
Labels: 25.0-bug

#987 [register_processed_data] Project ID is only reported missing when it really is
  uploadNeuroDB/register_processed_data.pl
Labels: Priority: High, Tools, 25.0-bug

#985 [imaging_non_minc_insertion] Missing lines in the log file
  uploadNeuroDB/imaging_non_minc_insertion.pl
Labels: Tools, 25.0-bug

#1006 [delete_imaging_upload] reload privilege for mysqldump
  docs/04-Scripts.md
Labels: Documentation, Delete script, 25.0-testing
