Repository aces/Loris-MRI, pull requests merged in 2023-03, with the labels that each got.

#898 Fix when $gzip_nifti is empty
  tools/gzip_nifti_files.pl
Labels: Bug, Add to release notes, Tools

#901 fix nifti insertion when scan type is not provided
  python/lib/dcm2bids_imaging_pipeline_lib/nifti_insertion_pipeline.py
Labels: Bug, Python imaging pipeline

#900 Keep additional events - rename Task to Property
  python/lib/physiological.py
Labels: Refactoring, BIDS import pipeline

#902 Fix `image_type` when inserting into mri_protocol_violated_scans
  python/lib/imaging.py
Labels: Bug, Python imaging pipeline

#903 Fix run numbering logic to use SessionID and not TarchiveID to figure out the next number of a run
  python/lib/database_lib/files.py
  python/lib/dcm2bids_imaging_pipeline_lib/nifti_insertion_pipeline.py
  python/lib/imaging.py
Labels: Bug, Add to release notes, Python imaging pipeline

#896 [Perl pipeline] Do not duplicate violation entry if it already exists
  docs/scripts_md/MRI.md
  docs/scripts_md/MRIProcessingUtility.md
  docs/scripts_md/MriCandidateErrorsOB.md
  docs/scripts_md/MriProtocolViolatedScansOB.md
  docs/scripts_md/MriViolationsLogOB.md
  uploadNeuroDB/NeuroDB/MRI.pm
  uploadNeuroDB/NeuroDB/MRIProcessingUtility.pm
  uploadNeuroDB/NeuroDB/objectBroker/MriCandidateErrorsOB.pm
  uploadNeuroDB/NeuroDB/objectBroker/MriProtocolViolatedScansOB.pm
  uploadNeuroDB/NeuroDB/objectBroker/MriViolationsLogOB.pm
  uploadNeuroDB/minc_insertion.pl
Labels: Add to release notes, Perl imaging pipeline

#909 Get SessionID from the session_obj instead of the tarchive_obj when determining run numbers
  python/lib/dcm2bids_imaging_pipeline_lib/nifti_insertion_pipeline.py
Labels: Add to release notes, Python imaging pipeline
