Repository aces/Loris-MRI, pull requests merged in 2023-02, with the labels that each got.

#881 Add a delete_file function for S3 buckets
  python/lib/aws_s3.py
Labels: Python imaging pipeline

#880 MATLAB 7.3 HDF5 Workaround
  python/lib/eeg.py
  python/lib/utilities.py
  python/requirements.txt
Labels: Add to release notes, Caveat for Existing Projects, BIDS import pipeline, EEG/iEEG

#883 Fix nii insertion mri protocol group id bug
  python/lib/dcm2bids_imaging_pipeline_lib/nifti_insertion_pipeline.py
  python/lib/imaging.py
Labels: Bug, Python imaging pipeline

#884 Do not register multiple entries of the same violation in `mri_violations_log` and `mri_protocol_violated_scans`
  python/lib/database_lib/mri_violations_log.py
  python/lib/dcm2bids_imaging_pipeline_lib/dicom_archive_loader_pipeline.py
  python/lib/dcm2bids_imaging_pipeline_lib/push_imaging_files_to_s3_pipeline.py
  python/lib/imaging.py
Labels: Python imaging pipeline

#882 No more Subproject
  dicom-archive/profileTemplate.pl
  docs/03-TechnicalInfrastructure.md
  docs/05-PipelineLaunchOptions.md
  docs/scripts_md/MRI.md
  docs/scripts_md/MRIProcessingUtility.md
  python/bids_import.py
  python/lib/database_lib/mri_protocol.py
  python/lib/database_lib/mri_protocol_checks.py
  python/lib/database_lib/project_cohort_rel.py
  python/lib/database_lib/project_subproject_rel.py
  python/lib/dcm2bids_imaging_pipeline_lib/base_pipeline.py
  python/lib/dcm2bids_imaging_pipeline_lib/nifti_insertion_pipeline.py
  python/lib/eeg.py
  python/lib/imaging.py
  python/lib/mri.py
  python/lib/session.py
  uploadNeuroDB/NeuroDB/MRI.pm
  uploadNeuroDB/NeuroDB/MRIProcessingUtility.pm
  uploadNeuroDB/minc_insertion.pl
Labels: Add to release notes, Caveat for Existing Projects, Refactoring, BIDS import pipeline, Perl imaging pipeline, Python imaging pipeline

#889 Fix incomplete format bug when querying EchoNumber from files table
  python/lib/database_lib/files.py
Labels: Bug, Python imaging pipeline

#770 Refactor remaining array configs to use ConfigOB instead of the DBI library
  docs/scripts_md/ConfigOB.md
  docs/scripts_md/DBI.md
  docs/scripts_md/MRIProcessingUtility.md
  docs/scripts_md/run_defacing_script.md
  tools/delete_imaging_upload.pl
  tools/minc_to_bids_converter.pl
  tools/run_defacing_script.pl
  uploadNeuroDB/NeuroDB/DBI.pm
  uploadNeuroDB/NeuroDB/MRIProcessingUtility.pm
  uploadNeuroDB/NeuroDB/objectBroker/ConfigOB.pm
  uploadNeuroDB/tarchiveLoader.pl
Labels: Update PerlDoc or Documentation, Refactoring, Perl imaging pipeline

#891 Add a check before inserting in mri_candidate_errors.py
  python/lib/database_lib/mri_candidate_errors.py
  python/lib/imaging.py
Labels: Bug, Python imaging pipeline
