Repository aces/Loris-MRI, pull requests merged in 2024-05, with the labels that each got.

#1123 [minc_insertion] Improve command line arguments validation
  uploadNeuroDB/minc_insertion.pl
Labels: PassedManualTest

#1129 [bids_imports pipeline] Fixed typos preventing run
  python/bids_import.py
  python/lib/eeg.py
  python/lib/utilities.py
Labels: BIDS import pipeline, EEG/iEEG, 26.0-bug

#1130 [python] Replaced critical instances of 'derivatives' with 'derivative'
  python/bids_import.py
  python/lib/eeg.py
Labels: BIDS import pipeline, EEG/iEEG, 26.0-bug

#1131 [python/mass_electrophysiology_chunking.py] Fix off-by-one error
  python/mass_electrophysiology_chunking.py
Labels: EEG/iEEG, 26.0-bug

#1133 README update
  README.md
Labels: Documentation, Install, 26.0-bug
