Repository aces/Loris-MRI, pull requests merged in 2025-04, with the labels that each got.

#1253 Improve and adopt more the new `lib.config` module
  python/lib/config.py
  python/lib/db/queries/config.py
  python/lib/dcm2bids_imaging_pipeline_lib/base_pipeline.py
  python/lib/make_env.py
  python/scripts/import_dicom_study.py
Labels: Refactoring, Difficulty: Medium

#1263 Finish to adopt `lib.util.crypto`
  python/lib/aws_s3.py
  python/lib/dcm2bids_imaging_pipeline_lib/dicom_validation_pipeline.py
  python/lib/dcm2bids_imaging_pipeline_lib/nifti_insertion_pipeline.py
  python/lib/eeg.py
  python/lib/imaging.py
  python/lib/mri.py
  python/scripts/bids_import.py
Labels: Difficulty: Simple

#1257 Automated tests for run_nifti_insertion.py
  python/lib/db/models/candidate.py
  python/lib/db/models/dicom_archive.py
  python/lib/db/models/file.py
  python/lib/db/models/mri_protocol_check.py
  python/lib/db/models/mri_protocol_check_group.py
  python/lib/db/models/mri_protocol_group.py
  python/lib/db/models/mri_protocol_violated_scan.py
  python/lib/db/models/mri_scan_type.py
  python/lib/db/models/mri_violation_log.py
  python/lib/db/models/parameter_file.py
  python/lib/db/models/parameter_type.py
  python/lib/db/queries/file.py
  python/lib/db/queries/mri_protocol_violated_scans.py
  python/lib/db/queries/mri_violations_log.py
  python/lib/dcm2bids_imaging_pipeline_lib/nifti_insertion_pipeline.py
  python/scripts/run_nifti_insertion.py
  python/tests/integration/scripts/test_run_nifti_insertion.py
  test/RB_SQL/RB_bids_category.sql
  test/RB_SQL/RB_bids_mri_scan_type_rel.sql
  test/RB_SQL/RB_bids_phase_encoding_direction.sql
  test/RB_SQL/RB_bids_scan_type.sql
  test/RB_SQL/RB_bids_scan_type_subcategory.sql
  test/RB_SQL/RB_files.sql
  test/RB_SQL/RB_mri_upload.sql
  test/RB_SQL/RB_parameter_file.sql
  test/RB_SQL/RB_tarchive.sql
  test/RB_SQL/RB_tarchive_files.sql
  test/RB_SQL/RB_tarchive_series.sql
Labels: Area: CI

#1269 Add Date::Parse to the set of required Perl libraries
  install/requirements/cpanfile
Labels: Perl imaging pipeline, Install, Difficulty: Simple, 27.0-bug

#1266 Add more integration tests for run_nifti_insertion.py
  python/lib/db/models/mri_protocol_violated_scan.py
  python/lib/db/models/mri_violation_log.py
  python/lib/db/queries/mri_protocol_violated_scan.py
  python/lib/db/queries/mri_violation_log.py
  python/lib/dcm2bids_imaging_pipeline_lib/nifti_insertion_pipeline.py
  python/tests/integration/scripts/test_run_nifti_insertion.py
  test/RB_SQL/RB_bids_mri_scan_type_rel.sql
  test/RB_SQL/RB_bids_scan_type_subcategory.sql
  test/RB_SQL/RB_mri_protocol_checks.sql
Labels: Area: CI

#1270 Improve ORM definitions
  python/lib/db/models/file.py
  python/lib/db/models/imaging_file_type.py
  python/lib/db/models/mri_violation_log.py
  python/lib/db/models/parameter_file.py
  python/lib/db/models/parameter_type.py
  python/lib/db/queries/candidate.py
  python/lib/db/queries/file.py
  python/lib/db/queries/imaging_file_type.py
  python/lib/db/queries/mri_scan_type.py
  python/lib/db/queries/parameter_type.py
Labels: Area: ORM, Difficulty: Simple

#1271 ORM improvements again
  python/lib/db/models/file.py
  python/lib/db/models/file_parameter.py
  python/lib/db/models/parameter_type.py
  python/lib/db/queries/file.py
  python/tests/integration/scripts/test_run_nifti_insertion.py
Labels: Area: CI, Area: ORM, Difficulty: Simple

#1276 Fix copy path for root-level events.json
  python/scripts/bids_import.py
Labels: Area: BIDS, Area: EEG, 27.0-bug

#1275 Fix ingest_eeg_bids_datasets.py
  python/scripts/ingest_eeg_bids_datasets.py
Labels: 27.0-bug

#1274 Add integration tests for mass_nifti_pic.py
  python/lib/db/queries/file.py
  python/lib/db/queries/file_parameter.py
  python/scripts/mass_nifti_pic.py
  python/tests/integration/scripts/test_mass_nifti_pic.py
  python/tests/integration/scripts/test_run_nifti_insertion.py
Labels: Area: CI

#1264 Adopt new DICOM study importer in the MRI pipeline
  dicom-archive/dicomTar.pl
  docs/scripts_md/ConfigOB.md
  docs/scripts_md/GetRole.md
  docs/scripts_md/MRI.md
  docs/scripts_md/MRIProcessingUtility.md
  docs/scripts_md/batch_uploads_tarchive.md
  docs/scripts_md/delete_imaging_upload.md
  docs/scripts_md/get_dicom_files.md
  docs/scripts_md/register_processed_data.md
  uploadNeuroDB/NeuroDB/ImagingUpload.pm
  uploadNeuroDB/NeuroDB/objectBroker/ConfigOB.pm
Labels: Difficulty: Simple
