Repository aces/Loris-MRI, pull requests merged in 2025-02, with the labels that each got.

#1224 Migrate `ImagingUpload` and `MriUploadDB` to the new database abstraction
  python/lib/database_lib/mri_upload_db.py
  python/lib/db/connect.py
  python/lib/db/models/dicom_archive.py
  python/lib/db/models/mri_upload.py
  python/lib/dcm2bids_imaging_pipeline_lib/base_pipeline.py
  python/lib/dcm2bids_imaging_pipeline_lib/dicom_archive_loader_pipeline.py
  python/lib/dcm2bids_imaging_pipeline_lib/dicom_validation_pipeline.py
  python/lib/dcm2bids_imaging_pipeline_lib/nifti_insertion_pipeline.py
  python/lib/dcm2bids_imaging_pipeline_lib/push_imaging_files_to_s3_pipeline.py
  python/lib/imaging_upload.py
  python/tests/integration/scripts/test_run_dicom_archive_loader.py
Labels: Refactoring, Area: BIDS, Area: ORM, Difficulty: Medium

#1232 Migrate `mri_scanner` to the new database abstraction
  pyproject.toml
  python/lib/database_lib/mri_scanner.py
  python/lib/db/queries/mri_scanner.py
  python/lib/dcm2bids_imaging_pipeline_lib/base_pipeline.py
  python/lib/dcm2bids_imaging_pipeline_lib/nifti_insertion_pipeline.py
  python/lib/imaging.py
  python/lib/scanner.py
Labels: Refactoring, Area: ORM, Difficulty: Simple

#1234 Fix install script
  .github/actions/setup-python/action.yml
  .gitignore
  docs/python/Tooling.md
  install/imaging_install.sh
  install/imaging_install_MacOSX.sh
  install/requirements/cpanfile
  install/requirements/requirements.txt
  install/templates/database_config_template.py
  install/templates/environment_template
  install/templates/profileTemplate.pl
  test/imaging_install_test.sh
  test/mri.Dockerfile
Labels: Install, 27.0-bug
