Repository aces/Loris-MRI, pull requests merged in 2025-03, with the labels that each got.

#1237 Fix Ruff Python version checks
  pyproject.toml
  python/lib/db/models/candidate.py
  python/lib/db/models/config.py
  python/lib/db/models/config_setting.py
  python/lib/db/models/dicom_archive.py
  python/lib/db/models/dicom_archive_file.py
  python/lib/db/models/dicom_archive_series.py
  python/lib/db/models/file.py
  python/lib/db/models/mri_scanner.py
  python/lib/db/models/mri_upload.py
  python/lib/db/models/notification_spool.py
  python/lib/db/models/notification_type.py
  python/lib/db/models/parameter_file.py
  python/lib/db/models/project.py
  python/lib/db/models/session.py
  python/lib/db/models/site.py
  python/lib/db/models/visit_window.py
  python/lib/db/queries/dicom_archive.py
  python/lib/db/queries/mri_scanner.py
  python/lib/db/queries/site.py
  python/lib/imaging.py
  python/lib/physiological.py
Labels: Area: CI, Difficulty: Simple

#1236 Fix large file hashing memory consumption
  python/lib/utilities.py
Labels: Difficulty: Simple

#1117 New DICOM study import script
  install/requirements/requirements.txt
  pyproject.toml
  python/lib/db/queries/dicom_archive.py
  python/lib/import_dicom_study/dicom_database.py
  python/lib/import_dicom_study/import_log.py
  python/lib/import_dicom_study/summary_get.py
  python/lib/import_dicom_study/summary_type.py
  python/lib/import_dicom_study/summary_write.py
  python/lib/import_dicom_study/text.py
  python/lib/import_dicom_study/text_dict.py
  python/lib/import_dicom_study/text_table.py
  python/lib/util/iter.py
  python/scripts/import_dicom_study.py
  python/scripts/summarize_dicom_study.py
  python/tests/unit/db/query/test_dicom_archive.py
Labels: Add to release notes, Caveat for Existing Projects, Difficuly: Complex, Area: DICOM

#1242 Add integration test for run_dicom_archive_validation.py
  python/scripts/import_dicom_study.py
  python/tests/integration/scripts/test_run_dicom_archive_validation.py
  test/RB_SQL/RB_mri_upload.sql
  test/RB_SQL/RB_tarchive.sql
  test/RB_SQL/RB_tarchive_files.sql
  test/RB_SQL/RB_tarchive_series.sql
Labels: Needs Work Before Merging, Blocked, Area: CI

#1243 Assert process factorization
  python/tests/integration/scripts/test_run_dicom_archive_loader.py
  python/tests/integration/scripts/test_run_dicom_archive_validation.py
  python/tests/util/run_integration_script.py
Labels: Area: CI

#1247 Add more testing to dicom archive loader last commit
  python/tests/integration/scripts/test_run_dicom_archive_loader.py
  test/RB_SQL/RB_tarchive.sql
  test/RB_SQL/RB_tarchive_files.sql
  test/RB_SQL/RB_tarchive_series.sql
Labels: Area: CI

#1249 More ORM definitions
  python/lib/db/models/cohort.py
  python/lib/db/models/config.py
  python/lib/db/models/config_setting.py
  python/lib/db/models/dicom_archive_series.py
  python/lib/db/models/mri_scanner.py
  python/lib/db/models/notification_type.py
  python/lib/db/models/parameter_file.py
  python/lib/db/models/project.py
  python/lib/db/models/site.py
  python/lib/db/models/visit.py
  python/lib/db/models/visit_window.py
  python/lib/db/queries/candidate.py
  python/lib/db/queries/cohort.py
  python/lib/db/queries/config.py
  python/lib/db/queries/dicom_archive.py
  python/lib/db/queries/mri_upload.py
  python/lib/db/queries/notification.py
  python/lib/db/queries/project.py
  python/lib/db/queries/session.py
  python/lib/db/queries/site.py
  python/lib/db/queries/visit.py
Labels: Area: ORM, Difficulty: Simple

#1251 small test type improvement
  python/tests/integration/scripts/test_run_dicom_archive_loader.py
Labels: Area: CI, Difficulty: Trivial

#1252 Update of the PERL pipeline following the refactor of the foreign keys on table candidate in LORIS
  docs/scripts_md/MriScannerOB.md
  tools/get_dicom_files.pl
  tools/minc_to_bids_converter.pl
  tools/run_defacing_script.pl
  uploadNeuroDB/NeuroDB/MRI.pm
  uploadNeuroDB/NeuroDB/objectBroker/MriScannerOB.pm
  uploadNeuroDB/register_processed_data.pl
Labels: Perldoc, Refactoring, Perl imaging pipeline, Area: DICOM, 27.0-bug

#1250 Refactor `get_session_config`
  install/templates/database_config_template.py
  pyproject.toml
  python/lib/bids.py
  python/lib/config.py
  python/lib/config_file.py
  python/lib/db/models/mri_scanner.py
  python/lib/db/queries/mri_scanner.py
  python/lib/db/queries/project.py
  python/lib/db/queries/site.py
  python/lib/dcm2bids_imaging_pipeline_lib/base_pipeline.py
  python/lib/dcm2bids_imaging_pipeline_lib/dicom_archive_loader_pipeline.py
  python/lib/dcm2bids_imaging_pipeline_lib/dicom_validation_pipeline.py
  python/lib/dcm2bids_imaging_pipeline_lib/nifti_insertion_pipeline.py
  python/lib/dcm2bids_imaging_pipeline_lib/push_imaging_files_to_s3_pipeline.py
  python/lib/env.py
  python/lib/exception/determine_subject_info_error.py
  python/lib/exception/validate_subject_info_error.py
  python/lib/get_session_info.py
  python/lib/get_subject_session.py
  python/lib/imaging.py
  python/lib/import_dicom_study/summary_util.py
  python/lib/make_env.py
  python/lib/scanner.py
  python/lib/validate_subject_info.py
  python/scripts/import_dicom_study.py
Labels: Add to release notes, Caveat for Existing Projects, Refactoring, Python imaging pipeline, Difficuly: Complex
