Repository aces/Loris-MRI, pull requests merged in 2025-05, with the labels that each got.

#1283 Fix compilation error in uploadNeuroDB/NeuroDB/ImagingUpload.pm
  uploadNeuroDB/NeuroDB/ImagingUpload.pm
Labels: Bug, Perl imaging pipeline, Difficulty: Simple, Area: DICOM, 27.0-testing

#1286 Update MriViolationsLogOB.pm following the refactor of the CandID references
  uploadNeuroDB/NeuroDB/objectBroker/MriViolationsLogOB.pm
Labels: Bug, Perl imaging pipeline, Difficulty: Simple, Area: DICOM, 27.0-testing

#1285 Insertion of scans in table mri_protocol_violated_scans fail
  docs/scripts_md/MRI.md
  uploadNeuroDB/NeuroDB/MRI.pm
  uploadNeuroDB/NeuroDB/objectBroker/MriProtocolViolatedScansOB.pm
Labels: Bug, Perl imaging pipeline, Difficulty: Simple, Area: DICOM, 27.0-testing

#1287 Fix bug when trying to create a session via the dcm2bids pipeline
  python/lib/database_lib/session_db.py
Labels: Add to release notes, Python imaging pipeline, 26.0-bug, Difficulty: Simple

#1291 Fix insertions in table mri_violations_log
  uploadNeuroDB/NeuroDB/MRIProcessingUtility.pm
Labels: Perl imaging pipeline, Difficulty: Simple, 27.0-bug

#1289 Fix various little bugs preventing the insertion of a MINC file without DICOMs
  uploadNeuroDB/minc_insertion.pl
Labels: Bug, PassedManualTest, Perl imaging pipeline

#1290 Fix various little bugs preventing the insertion of a MINC file without DICOMs (26 rebase)
  uploadNeuroDB/minc_insertion.pl
Labels: Bug, Perl imaging pipeline
